/*
 * Base structure
 */

html {
    height: 100%;
    overflow-y: hidden;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'Open Sans', 'Segoe UI', Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
    background-color: #eee;
    overflow-y: hidden;
    height: 100%;
}

    body > .container-fluid {
        height: 100%;
        overflow-y: auto;
    }

.navbar {
    background-image: none;
    padding: 0 20px;
    color: white;
}

    .navbar .navbar-title {
        font-size: 24px;
        padding-top: 8px;
    }
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}


.playbutton {
    background-color: transparent;
    border: 0;
    color: #eee;
}

    .playbutton:hover {
        color: #ccc;
    }

.ui-slider {
    border-radius: 0;
    height: 5px;
    border: none;
    background: #eee;
    margin-top: 2px;
}

    .ui-slider > .ui-slider-handle {
        left: 0%;
        width: 5px;
        top: -7px;
        border: none;
        opacity: 0.5;
        background: #fb6a4a;
        margin-left: -3px;
    }

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 850px;
    margin: 10px;
    padding-left: 20px;
}

    .sidebar > .top {
        background-color: white;
        padding: 20px;
        height: 400px;
        margin-bottom: 10px;
    }

    .sidebar > .bottom {
        margin-top: 10px;
        background-color: white;
        padding: 20px;
        height: 400px;
        position: relative;
    }

        .sidebar > .bottom > #lineChart {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .sidebar > .bottom > .playcontrol {
            position: absolute;
            width: 100%;
            height: 40px;
            bottom: 0;
            left: 0;
        }

            .sidebar > .bottom > .playcontrol > .playbutton {
                width: 40px;
                float: left;
                font-size: 24px;
                padding-left: 10px;
            }

            .sidebar > .bottom > .playcontrol > .sliderContainer {
                float: left;
                padding-left: 10px;
                padding-top: 15px;
                width: calc(100% - 60px);
            }


/*
 * Main content
 */

.main {
    padding-top: 10px;
    float: left;
}

    .main > .container {
        width: 810px;
        height: 810px;
        background-color: white;
        padding: 0;
        position: relative;
    }

        .main > .container > .layer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

            .main > .container > .layer > div > .foi {
                padding-left: 10px;
                font-weight: 700;
                color: #eee;
                font-size: 60px;
                line-height: 1;
            }

            .main > .container > .layer > div > .district {
                padding-left: 10px;
                font-weight: 700;
                color: #eee;
                font-size: 60px;
                line-height: 1;
            }

            .main > .container > .layer > div > .country {
                color: #eee;
                font-size: 30px;
            }

            .main > .container > .layer > .population {
                padding-left: 10px;
                color: #ccc;
                font-size: 18px;
            }

        .main > .container > .layer-play {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #ccc;
            font-size: 30px;
        }

            .main > .container > .layer-play > .btn-group {
                display: block;
            }

                .main > .container > .layer-play > .btn-group > button {
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    width: 95px;
                }

                    .main > .container > .layer-play > .btn-group > button.active {
                        background-color: #fb6a4a;
                        color: white;
                        font-weight: 700;
                    }

                    .main > .container > .layer-play > .btn-group > button:hover {
                        box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125);
                    }

            .main > .container > .layer-play > .playbutton {
                display: block;
                float: right;
                font-size: 80px;
            }


        .main > .container > .layer-bottom {
            position: absolute;
            bottom: 50px;
            left: 10px;
            color: #ccc;
            font-size: 18px;
        }

        .main > .container > #map {
            position: relative;
            width: 100%;
            height: 100%;
        }

            .main > .container > #map > img {
                width: 100%;
                opacity: 0.6;
            }

            .main > .container > #map > svg {
                position: absolute;
                top: 0;
                left: 0;
            }

                .main > .container > #map > svg .datamaps-subunits {
                    cursor: pointer;
                }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

    .line.hovered {
        stroke-width: 3px;
    }

.overlay {
    fill: none;
    pointer-events: all;
}

.focus {
    /*fill: none;
    stroke: steelblue;*/
}
